$main_color: #27292c;
$white: #fff;

body {
  font-family: 'Open sans', sans-serif;
  color: $main_color;
  padding: 0;
  margin: 0;
}

div, p, input, button, form, span, a, ul, li {
  box-sizing: border-box;
}

p, h1, h2, h3, h4, h5, h6, ul {
  padding: 0;
  margin: 0;
}

.header {
  background: url('images/background.jpg');
  &__main {
    display: flex;
  }
  &__container {
    width: 1309px;
    margin: 0 auto;
  }
  &__title {
  display: block;
  margin-left: -3.9em;
  margin-top: 1em;
  width: 676px;
}
  &__description h2 {
  display: block;
  color: $white;
  font-weight: 600;
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-top: 4em;
  font-size: 25px;
  letter-spacing: 0.3em;
  margin-bottom: 62px;
}
  
  &__text {
    color: $white;
    font-style: italic;
    max-width: 23em;
    font-size: 1.3em;
    margin-top: 19px;
  }
  &__image {
    width: 125%;
    padding-top: 36px;
    margin-left: -63px;
  }
}
.btn--white {
    width: 229px;
    height: 53px;
    border-radius: 25px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 800;
    color: #2e3034;
  }
.nav {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  margin: 0 4.4em 0 0;
  text-transform: uppercase;
  padding: 4.1em 0 7.9em 0;
}
.nav-item {
  padding-right: 66px;
  letter-spacing: 4px;
}
.nav-link {
  text-decoration: none;
  color: $white;
  font-weight: 600;
  font-size: 17px;
}
.goods {
  background-color: $white;
  &__container {
    width: 1299px;
    margin: 0 auto;
  }
  &__title {
    display: block;
    margin: -146px 15%;
    width: 820px;
    padding-top: 37px;
  }
  &__text {
    margin-top: 178px;
    text-align: center;
    font-size: 28px;
  }
  &__cards {
    display: flex;
    margin-top: 96px;
    justify-content: space-around;
    margin-bottom: 128px;
  }
  .card {
    max-width: 394px;
    &__image {
      width: 370px;
      height: 370px;
    }
    &__title {
      font-size: 30px;
      padding-left: 14px;
      padding-top: 16px;
    }
    &__text {
      font-size: 1.5em;
      padding-left: 12px;
      padding-top: 11px;
    }
  }
}
.btn--black {
    cursor: pointer;
    width: 347px;
    height: 79px;
    margin: 0 auto;
    display: block;
    border-radius: 50px;
    text-transform: uppercase;
    font-size: 1.6em;
    font-weight: 800;
    background-color: #343434;
    color: $white;
   
}
.information {
  background-color: $main_color;
  margin-top: 3.2em;
  &__container {
    width: 1122px;
    margin: 0 auto;
    padding-bottom: 75px;
  }
  &__title {
    display: block;
    margin: 0 auto;
    padding-top: 2.69em;
    width: 823px;
  }
  &__text {
    display: flex;
    justify-content: space-between;
    color: $white;
    margin-bottom: 3.6em;
  }
  &__text p {
    max-width: 28em;
    font-size: 1.2em;
    padding: 2.4em 0 0 0;
  }
  &__button {
    display: block;
    margin: 0 auto;
    width: 297px;
    height: 60px;
  }
}
.discount {
  background-color: $white;
  &__container {
    padding-top: 74px;
    width: 1388px;
    margin: 0 auto;
  }
  .discount-first,
  .discount-second {
    display: flex;
    .discount-description {
        padding: 5.6em 7em 0 2.3em;
        letter-spacing: 0.6px;
      &__title {
        font-size: 3.5em;
      }
      &__text {
        padding-top: 1.1em;
        font-size: 1.8em;
        line-height: 1.3;
        margin-bottom: 2em;
      }
      &__btn {
        margin: 0;
        letter-spacing: 0.3em;
        font-weight: 600;
      }
    }
  }
  .discount-second {
    padding-top: 67px;
    .discount-description {
      padding: 6.6em 1em 0 4.3em;
    }
  }
}


